@model Glimpse.VersionCheck.ReleaseDetails

@{
    ViewBag.Title = "Release Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Release Details</h2>

@if (Model == null){
    <div class="release-summary">
        <div class="release-summary-title">Really Sorry</div>
        <div class="release-summary-desc">
            We went looking though out release history and couldn't find this release for you! Talk about fail. <br />
            So sorry, but if you are expecting this to be here (and obviously it's not since we couldn't find it), make sure you let us know.
        </div>
    </div>
}
else {
    <div class="release-summary">
        <div class="release-summary-title is-success">Congratulations</div>
        <div class="release-summary-desc">
            Check out "What's New" and any "Known Issues" for this release below. As always,<br />
            you’re encouraged to tell us what you think, or file a bug in <a href="https://github.com/glimpse/glimpse/issues">Github</a>.
        </div>
    </div>
    
    <div class="release-package">
        <div class="release-package-title">
            @if (!String.IsNullOrEmpty(Model.IconUrl)) { <img src="@Model.IconUrl" height="50"/> }
            <h3>@Model.Name @if (!String.IsNullOrEmpty(Model.Description)) { <a href="#">[ info ]</a> }</h3> 
            <div class="release-package-description">@Model.Description</div>
        </div>
        <div class="release-item-detail-holder">
            <div class="release-item-detail">
                <div class="release-item-detail-header">
                    <span class="release-item-detail-title">@Model.Version</span>
                    <span class="release-item-detail-date">@Model.Created.ToString("dd MMM yyyy")</span> 
                </div>
                <div class="release-item-detail-notes"> 
                    @if (!string.IsNullOrEmpty(@Model.ReleaseNotes)) { @Model.ReleaseNotes } 
                    else { <text>--</text> }
                </div>
            </div>
        </div>
    </div>
}
