@using Glimpse.Issues
@model Glimpse.Site.Models.IssuesIndexViewModel
@{
    ViewBag.Title = "Glimpse Issues";
    ViewBag.bodyClass = "issues-page";
}
@section header {
    <h1>Issues</h1>
}
@section subnav {
    &nbsp;
}
    <ul id="packages" class="nav nav-tabs">
@foreach (var packageCategory in Model.PackageCategories)
{
  <li class="lead"><a style="color: @(packageCategory.Packages.Any(p => p.Status == GlimpsePackageStatus.Red) ? "red" : "green");" href="#@packageCategory.Name" data-toggle="tab">@packageCategory.Name</a></li>
}
</ul>

<div class="tab-content">
    @foreach (var packageCategory in Model.PackageCategories)
    {
        <div class="tab-pane fade in active" id="@packageCategory.Name">
                <div class="alert">
                    @foreach (var package in packageCategory.Packages)
                    {
                        <span style="padding-right: 10px;"><img src="~/Content/@package.StatusImage" width="15"/> @package.Name</span>
                    }
                </div>
            <div id="packageNotes">
                @foreach (var package in packageCategory.Packages)
                {
                    if (!string.IsNullOrEmpty(package.StatusDescription))
                    {
                        <span> <strong>@package.Name:</strong> @package.StatusDescription</span><br/>
                    }
                } 
            </div>
            <hr class="clear"/>
            <strong>Acknowledged and working on</strong>
            @Html.Partial("_Issues", packageCategory.AcknowledgedIssues, new ViewDataDictionary(this.ViewData) {{"emptyMessage", "No issues yet scheduled for release"}})

            <hr class="clearer"/>
    
            <strong>Fixed and yet to be released</strong>
            @Html.Partial("_Issues", packageCategory.CompletedIssues, new ViewDataDictionary(this.ViewData) {{"emptyMessage", "No issues yet fixed. We are working on some as we speak"}})
   
            <hr class="clearer"/>
        </div>
    }
</div>
<hr class="clear"/>
<h2>Thanks for reporting issues and contributing Pull Requests:</h2>
@foreach (var reporter in Model.IssueReporters)
{
    <a href="@reporter.Html_Url" data-toggle="tooltip" title="@reporter.Login" id="@(reporter.Login)Avatar"><img width="40" src="@reporter.Avatar_Url" alt="@reporter.Login"/></a>
}
<script>
    $('#packages a:first').tab('show')
</script>