<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" /> 
        <link rel="apple-touch-icon" href="~/Content/_v2/favicon.png">
        <link rel="icon" href="~/Content/_v2/favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="~/Content/_v2/favicon.ico"><![endif]--> 
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="~/Content/_v2/favicon.png">
        <link rel="nuget" type="application/rsd+xml" title="Glimpse Plugin Gallery" href="http://getGlimpse.com/Content/_v2/glimpseGallery.xml" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        @Styles.Render("~/Content/css")

        @*<link media="screen" rel="stylesheet" type="text/css" href="assets/css/global.css" />
        <link media="screen" rel="stylesheet" type="text/css" href="assets/css/tipsy.css" />
        
        <script src="<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>s" type="text/javascript"></script>
        <script src="assets/scripts/home-ck.js" type="text/javascript"></script>
        <script src="assets/scripts/global-ck.js" type="text/javascript"></script>
        <script src="assets/scripts/jquery.scrollTo.min.js" type="text/javascript"></script>
        <script src="assets/scripts/jquery.tipsy.js" type="text/javascript"></script>*@
    </head>
    <body class="@ViewBag.bodyClass">
        <header>
            
            <div id="nav-container">
                <a href="#" id="mobile-menu-button"><span class="icon"></span><span class="nav-label">menu</span></a>
                <div id="mobile-nav-padding"></div>
            	<nav>
            	    <!--a href="@Url.Action(MVC.Home.Index())" class="home"><span class="icon"></span><span class="nav-label">Home</span></a-->
            	    <a href="/Help/Getting-started" class="getting-started"><span class="icon"></span>Getting Started</a>
            	    <a href="@Url.Action(MVC.Community.Index())" class="community"><span class="icon"></span>Community</a>
            	    <a href="@Url.Action(MVC.Support.Index())" class="support"><span class="icon"></span>Support</a>
            	    <a href="/Help/" class="docs"><span class="icon"></span>Documentation</a>
            	    <a href="@Url.Action(MVC.Packages.Index())" class="plugins"><span class="icon"></span>Extensions</a>
                    <!-- <a href="@Url.Action("Index","Status")" class="status"><span class="icon"></span>Status</a> -->
            	    <a href="#" class="download"><span class="icon"></span>Install now<br /> <span class="sub-menu-title">It's really pretty easy</span></a>                   
            	</nav>
            	<hr class="clearer" />
            </div>
            
        	<div id="nav-padder"></div>
        	<div class="section-container" id="install">
	            <section> 
	                <div class="package-question">
	                    <div class="package-question-suggestion">
                            <h2>Choose which packages to install</h2>
	                        <table>
	                            <tr>
	                                <td width="8.75%"></td>
	                                <td width="40%" class="package-question-heading">Which web framework you using?</td> 
	                                <td width="2.5%"></td>
	                                <td width="40%" class="package-question-heading">What about Data Access?</td> 
	                                <td width="8.75%"></td>
	                            </tr>
	                            <tr>
	                                <td>WebForms</td>
	                                <td><div class="package-question-command">PM&gt; Install-Package Glimpse.WebForms</div></td> 
	                                <td></td>
	                                <td><div class="package-question-command">PM&gt; Install-Package Glimpse.ADO</div></td> 
	                                <td>Raw ADO</td>
	                            </tr>
	                            <tr>
	                                <td></td>
	                                <td class="package-question-or">or</td> 
	                                <td></td>
	                                <td class="package-question-or">or</td> 
	                                <td></td>
	                            </tr>
	                            <tr>
	                                <td>MVC</td>
	                                <td><div class="package-question-command">PM&gt; Install-Package Glimpse.MVC5</div></td> 
	                                <td></td>
	                                <td><div class="package-question-command">PM&gt; Install-Package Glimpse.EF5</div></td> 
	                                <td>EF</td>
	                            </tr>
	                        </table>  
	                        <div class="package-question-note">Note that if you are using a <em>different version</em> of MVC/EF, use that instead – e.g. MVC2, MVC3, MVC4, EF43, or EF6</div>
	                        <div class="package-question-more">...and many more can be found in the <a href="http://getglimpse.com/Packages">Glimpse Extension Gallery</a></div>
	                    </div>
	                </div>
                     
	                <div id="install-steps">
	                    <div class="threeColumn column1">
	                        <div class="innerColumn">
	                            <h2><img src="/Content/_v2/website-assets/img/vslogo-white.png" /></h2>
	                            1.Right click your solution in Visual Studio and select "Manage NuGet Packages".
	                        </div>
	                    </div>
	                    <div class="threeColumn column2">
	                        <div class="innerColumn">
	                            <h2><img src="/Content/_v2/website-assets/img/enter-command.png" /></h2>
	                            2.Use the NuGet manager to search and install the most relevant glimpse packages (see above)
	                        </div>
	                    </div>
	                    <div class="threeColumn column3">
	                        <div class="innerColumn">
	                            <h2><img src="/Content/_v2/website-assets/img/play-project.png" /></h2>
	                            3.Start your project and go to http://yourproject/glimpse.axd and click start.
	                        </div>
	                    </div>
	                    <hr class="clearer" /> 
	                </div>
	                @*
                    <h2 class="package-question-main">Quick note when searching and installing packages...</h2>
                    <div class="package-question">
                        Did you know we have a whole package ecosystem? So depending on your setup use any of the below as a start:
                        <div class="package-question-suggestion"> 
                            <div class="package-question-option">
                                <div><div class="package-question-heading">Web Froms your thing?</div><div class="package-question-command">PM&gt; Install-Package Glimpse.AspNet</div></div> 
                                <div><div class="package-question-heading">Doing MVC development?</div><div class="package-question-command">PM&gt; Install-Package Glimpse.MVC4</div></div> 
                                <div><div class="package-question-heading">What about EF?</div><div class="package-question-command">PM&gt; Install-Package Glimpse.EF5</div></div> 
                            </div>
                            <div class="package-question-note">*Note that if you are using a <em>different version</em> of MVC/EF use those instead - i.e. MVC2 or MVC4 vs EF43 or EF6</div>
                            <div class="package-question-more">...and many more can be found in the <a href="http://getglimpse.com/Packages">Glimpse Extension Gallery</a></div>
                        </div>
                    </div>
                    *@
	            </section>
        	</div>
        </header>

        	@RenderBody()
        <div class="section-container" id="footer-container">
            <footer>
                <div id="mountains"></div>
                <div id="towers"></div>
                <div id="build-tower">
                    <div id="build-info" class="handwritten">
                        The last build (#<span id="build-id"></span>) <span id="build-status">was successful</span> on <span id="build-date">21st April 2013 at 21:09</span>.
                    </div>
                    <div id="build-arrow">&nbsp;</div>
                </div>
                <div class="twoColumn column1">
                    <div class="innerColumn">
                        <span class="icon twitter">&nbsp;</span>Keep up with us <a href="https://twitter.com/search?q=from%3A%40nikmd23 OR from%3A%40anthony_vdh %23glimpse">#glimpse</a>:
                        <div id="tweets"></div>
                    </div><!--Class:innerColumn-->
                </div><!--Class:twoColumn column1-->
                <div class="twoColumn column2">
                    <div class="innerColumn">
                        <ul>
                            <li class="contact"><span class="icon mail">&nbsp;</span>We love hearing from you, email us on <a href="mailto:team@getglimpse.com">team@@getglimpse.com</a>.</li>
                            <li class="google"><span class="icon google">&nbsp;</span>We have a great active community. Get to know them on our <a href="http://groups.google.com/group/getglimpse-dev">google group</a>.</li>
                            <li class="github"><span class="icon github">&nbsp;</span>Did we mention glimpse is open source? Take a look at the code on <a href="http://www.github.com/glimpse/glimpse">github</a>.</li>
                        </ul>
                    </div><!--Class:innerColumn-->
                </div><!--Class:twoColumn column2-->
            </footer>
            <hr class="footer-split" />
            <div class="redgate-footer"> 
                    Proudly backed by <a href="http://www.red-gate.com/"><img src="/Content/_v2/website-assets/img/redgate.png" id="redgate-logo"></a> <a href="http://www.github.com/glimpse/glimpse">and you!</a>
            </div>
            
        </div>
        @Scripts.Render("~/Script/javascript")
        @RenderSection("scripts", false)
    </body>
</html>
