<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <link rel="apple-touch-icon" href="~/Content/_v1/site-favicon.png">
    <link rel="icon" href="~/Content/_v1/site-favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="~/Content/_v1/site-favicon.ico"><![endif]--> 
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/Content/_v1/site-favicon.png"> 
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/_v1/css")
    <link rel="nuget" type="application/rsd+xml" title="Glimpse Extensions Gallery" href="http://getGlimpse.com/Content/_v1/glimpseGallery.xml" />
</head>
<body class="home">
    <header class="gw">
        <div class="header-inner">
            <section>
                <div class="g one-third hide--lap hide--palm decal">
                    <div class="delta">Install Now</div>
                    <div>only one command</div>
                    <div class="sprite sprite-root sprite-root-download call-action-trigger"></div>
                </div>
                <div class="g one-third lap-one-whole palm-one-whole logo-main"> 
                    <img src="~/Content/_v1/site-home-logo.png" alt="Glimpse - the open source diagnostics platform of the web"/> 
                </div>
                <div class="g one-third hide--lap hide--palm decal"> 
                    <div class="delta">Source Code</div> 
                    <div>at GitHub</div>
                    <a href="https://github.com/glimpse/glimpse" class="sprite sprite-root sprite-root-github"></a>
                </div>
            </section>
            <section class="g one-whole">
                <h1>the open source diagnostics platform of the web</h1>
            </section>
            <section class="g one-whole hide--desk"> 
                <div class="g one-half decal">
                    <div class="delta">Download</div>
                    <div>1.0.0</div>
                    <a href="https://nuget.org/packages/Glimpse/" class="sprite sprite-root sprite-root-download"></a>
                </div>
                <div class="g one-half decal"> 
                    <div class="delta">Source Code</div> 
                    <div>GitHub</div>
                    <a href="#" class="sprite sprite-root sprite-root-github"></a>
                </div> 
            </section>
        </div>
    </header>
    <div class="body gw">
            @RenderBody()
    </div>
    <footer class="gw">
        <div class="footer-outer">
            <div class="footer-inner"> 
                <section class="g one-whole bottom-backing">
                    Proudly backed by <a href="http://www.red-gate.com/"><img src="~/Content/_v1/site-redgate-logo.png" style="vertical-align:middle" /></a> <a href="http://www.github.com/Glimpse/Glimpse/">and you!</a>
                </section>
            </div>
        </div>
    </footer> 
    <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
    @Scripts.Render("~/Script/javascript")
    @RenderSection("scripts", false)
</body>
</html>
