<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - the open source diagnostics platform of the web</title>
    @Styles.Render("~/content/sitecss")
</head>
<body class="@ViewBag.PageStyle">
    <header class="header navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action(MVC.Home.Index())" class="navbar-brand"><img src="~/Content/logo-long-white.png" /></a>
                <a href="@Url.Action(MVC.Install.Index())" class="action_link navbar-install btn btn-default btn-lg visible-lg"><span class="glyphicon glyphicon-download"></span>Install it today!</a>
            </div>
            <div class="navbar-collapse collapse navbar_home">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action(MVC.GettingStarted.Index())/"><span class="glyphicon glyphicon-play"></span>Getting Started</a></li>
                    <li><a href="@Url.Action(MVC.Community.Index())/"><span class="glyphicon glyphicon-heart"></span>Community</a></li> 
                    <li><a href="@Url.Action(MVC.Docs.Index())/"><span class="glyphicon glyphicon-file"></span>Documentation</a></li>
                    <li><a href="@Url.Action(MVC.Packages.Index())/"><span class="glyphicon glyphicon-th-large"></span>Packages</a></li>
                    <li><a href="@Url.Action(MVC.Status.Index())/"><span class="glyphicon glyphicon-comment"></span>Status Board</a></li>
                    <li class="hidden-lg navbar-install-menu"><a href="@Url.Action(MVC.Install.Index())"><span class="glyphicon glyphicon-download"></span>Install now!</a></li>
                </ul>
            </div>
        </div>
    </header> 
    <div class="body_container">
        @RenderBody()
    </div>   
    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="footer_mountains"></div>
            <div class="footer_tower"></div>
            <div class="footer_tower-build">
                <div class="build_details">
                    <div class="build_info handwritten">
                        The last build (#<span id="build-id"></span>) <span id="build-status">was successful</span> on <span id="build-date">21st April 2013 at 21:09</span>.
                    </div>
                    <div class="build_arrow arrow arrow-large-right">&nbsp;</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left icon github" href="http://www.github.com/glimpse/glimpse"></a>
                            <div class="media-body">Did we mention glimpse is open source? Take a look at the code on <a href="http://www.github.com/glimpse/glimpse">github</a> and see what we are up to.</div>
                        </li>
                        <li class="media">
                            <a class="pull-left icon google" href="http://groups.google.com/group/getglimpse-dev"></a>
                            <div class="media-body">We have a great active community. Get to know them on our <a href="http://groups.google.com/group/getglimpse-dev">google group</a> and join the conversation.</div>
                        </li>
                        <li class="media">
                            <a class="pull-left icon mail" href="mailto:team@getglimpse.com"></a>
                            <div class="media-body">We love hearing from you, so feel free to email us any time on <a href="mailto:team@getglimpse.com">team@@getglimpse.com</a>.</div>
                        </li>
                        <li class="media">
                            <a class="pull-left icon blog" href="http://www.github.com/glimpse/glimpse/issues"></a>
                            <div class="media-body">Have you seen our blog yet? Make sure you keep up to date with the latest happenings on our <a href="http://blog.getglimpse.com">blog</a>.</div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-5 col-sm-offset-2 hidden-xs">
                    <ul class="media-list" id="tweets">
                        <li class="media">
                            <a class="pull-left icon twitter" href="mailto:team@getglimpse.com"></a>
                            <div class="media-body">Keep up with us <a href="https://twitter.com/search?q=from%3A%40nikmd23 OR from%3A%40anthony_vdh %23glimpse">#glimpse</a>:</div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr />

            <div class="row footer_last">
                <div class="col-sm-3 footer_copy">&copy; @DateTime.Now.Year - Glimpse</div>
                <div class="col-sm-6 footer_backing">
                    Proudly backed by <a class="redgate" href="http://www.red-gate.com/"></a> <a href="http://www.github.com/glimpse/glimpse">and you!</a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/sitejs") 
    @RenderSection("scripts", required: false)
</body>
</html>
