<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body class="layout">
    <header>
        <div class="header-inner"> 
            <a href="@Url.Action(MVC.Home.Index())" class="float--right logo-sub"></a>
            @RenderSection("header")
        </div>
    </header>
    <div class="body gw">
        <div class="body-inner">
            @RenderBody()
        </div>
    </div>
    <footer class="gw">
        <div class="footer-inner"> 
            <section class="g one-whole bottom-backing">
                Proudly backed by <img src="~/Content/logo-redgate.png" style="vertical-align:middle" /> <a href="#">and you!</a>
            </section>
        </div>
    </footer>
    @Scripts.Render("~/Script/javascript")
    @RenderSection("scripts", false)
</body>
</html>
