<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <link rel="apple-touch-icon" href="~/_Content/favicon.png">
    <link rel="icon" href="~/_Content/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="~/_Content/favicon.ico"><![endif]--> 
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/_Content/favicon.png"> 
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/_Content/css")
    <link rel="nuget" type="application/rsd+xml" href="http://www.myget.org/Discovery/Feed/glimpsenightly" />
</head>
<body class="layout">
    <header>
        <div class="header-inner"> 
            <a href="@Url.Action(MVC.Home.Index())" class="float--right logo-sub"></a>
            <div class="float--right stats-sub-menu hide--lap hide--palm">
                <div class="stat-group">
                    <dl class="stat">
                        <dt class="stat__title">Community</dt>
                        <dd class="stat__value"><a href="@Url.Action(MVC.Community.Index())" class="sprite sprite-root sprite-root-community"></a></dd>
                    </dl>
                    <dl class="stat">
                        <dt class="stat__title">Documentation</dt>
                        <dd class="stat__value"><a href="/Help/" class="sprite sprite-root sprite-root-documentation"></a></dd> 
                    </dl>
                    <dl class="stat">
                        <dt class="stat__title">Extensions</dt>
                        <dd class="stat__value"><a href="@Url.Action(MVC.Packages.Index())" class="sprite sprite-root sprite-root-plugins"></a></dd> 
                    </dl>
                    <dl class="stat">
                        <dt class="stat__title">Support</dt>
                        <dd class="stat__value"><a href="@Url.Action(MVC.Support.Index())" class="sprite sprite-root sprite-root-support"></a></dd> 
                    </dl>
                </div> 
            </div>
            @RenderSection("header")
        </div>
    </header>
    <div class="body gw">
        <div class="body-inner">
            <div class="g one-whole stats-sub-menu hide--desk">
                <div class="stat-group">
                    <dl class="stat">
                        <dt class="stat__title hide--palm">Community</dt>
                        <dd class="stat__value"><a href="@Url.Action(MVC.Community.Index())" class="sprite sprite-root sprite-root-community"></a></dd>
                    </dl>
                    <dl class="stat">
                        <dt class="stat__title hide--palm">Documentation</dt>
                        <dd class="stat__value"><a href="/Help" class="sprite sprite-root sprite-root-documentation"></a></dd> 
                    </dl>
                    <dl class="stat">
                        <dt class="stat__title hide--palm">Extensions</dt>
                        <dd class="stat__value"><a href="@Url.Action(MVC.Packages.Index())" class="sprite sprite-root sprite-root-plugins"></a></dd> 
                    </dl>
                    <dl class="stat">
                        <dt class="stat__title hide--palm">Support</dt>
                        <dd class="stat__value"><a href="@Url.Action(MVC.Support.Index())" class="sprite sprite-root sprite-root-support"></a></dd> 
                    </dl>
                </div> 
            </div>
            @RenderBody()
        </div>
    </div>
    <footer class="gw">
        <div class="footer-inner"> 
            <section class="g one-whole bottom-backing">
                Proudly backed by <a href="http://www.red-gate.com/"><img src="~/_Content/logo-redgate.png" style="vertical-align:middle" /></a> <a href="#">and you!</a>
            </section>
        </div>
    </footer>
    @Scripts.Render("~/Script/javascript")
    @RenderSection("scripts", false)
</body>
</html>
