<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <link rel="apple-touch-icon" href="~/Content/_v2/favicon.png">
    <link rel="icon" href="~/Content/_v2/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="~/Content/_v2/favicon.ico"><![endif]--> 
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/Content/_v2/favicon.png"> 
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link type="text/css" href="@ViewBag.pageCss" media="screen" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="header-inner"> 
            <a href="@Url.Action(MVC.Home.Index())" class="glimpse-logo"><img src="~/Content/_v2/img/logo.png" alt="logo" /></a> 
            @RenderSection("header")
        </div>
        <div id="header-shadow"></div>
    </div>
    <div class="content-container">
        <div class="content"> 
            @RenderBody()
        </div>
        <hr class="clearer" />
    </div>
    <div class="section-container" id="footer-container">
            <footer>
                <div id="mountains"></div>
                <div id="towers"></div>
                <div id="build-tower">
                    <div id="build-info" class="handwritten">
                        The last build (#<span id="build-id"></span>) <span id="build-status">was successful</span> on <span id="build-date">21st April 2013 at 21:09</span>.
                    </div>
                    <div id="build-arrow">&nbsp;</div>
                </div>
            </footer>
            <hr class="footer-split" />
            <div class="redgate-footer"> 
                    Proudly backed by <a href="http://www.red-gate.com/"><img src="/Content/_v2/website-assets/img/redgate.png" id="redgate-logo"></a> <a href="http://www.github.com/glimpse/glimpse">and you!</a>
            </div>
            
        </div>
    @Scripts.Render("~/Script/javascript")
    @RenderSection("scripts", false)
</body>
</html>
