@using Glimpse.Release
@model Glimpse.Release.Release

@{
    ViewBag.Title = "Status - Glimpse - ";
}

@section scripts {
    <script>
        $('#packages a:first').tab('show')
    </script>
}

<div class="container content content-normal">
    <h1>Dashboard</h1>
    <p>This is the live view of everything we are currently working on or looking at. Feel free to take a look around and get involved.</p>

    <h2>Releases</h2>
    <h3>
        @if (Model.Milestone.IsVNext) {
            <text>Issues currently being worked on:</text>
        } else {
            <text>Issues we just relased in @Model.Milestone.Title:</text>
        }
    </h3>
    <ul id="packages" class="nav nav-tabs" style="margin-top: 35px;">
        @foreach (var packageCategory in Model.PackageCategories) {
            <li class="lead"><a style="color: @(packageCategory.PackageItem.Any(p => p.Status == GlimpsePackageStatus.Red) ? "red" : "green");" href="#@packageCategory.Name" data-toggle="tab">@packageCategory.Name</a></li>
        }
    </ul>
    <div class="tab-content" style="border:1px solid #dddddd; border-top: none; margin-bottom: 30px;">
        @foreach (var packageCategory in Model.PackageCategories) {
            <div class="tab-pane fade in active" id="@packageCategory.Name" style="padding:15px;">
                <div class="alert">
                    @foreach (var package in packageCategory.PackageItem) {
                        <span style="padding-right: 30px;"><span class="glyphicon @package.StatusClass" style="color:@package.StatusColour"></span> @package.Name</span>
                    }
                </div>
                <div id="packageNotes">
                    @foreach (var package in packageCategory.PackageItem) {
                        if (!string.IsNullOrEmpty(package.StatusDescription)) {
                            <span> <strong>@package.Name:</strong> @package.StatusDescription</span><br />
                        }
                    }
                </div> 
                @if (Model.Milestone.IsVNext) {
                    <h4>Acknowledged and working on</h4>
                    @Html.Partial("_Issues", packageCategory.AcknowledgedIssues, new ViewDataDictionary(this.ViewData) { { "emptyMessage", "No issues yet scheduled for release" } })
                        
                    <h4>Fixed and yet to be released</h4>
                    @Html.Partial("_Issues", packageCategory.CompletedIssues, new ViewDataDictionary(this.ViewData) { { "emptyMessage", "No issues yet fixed. We are working on some as we speak" } })
                } else {
                    @Html.Partial("_Issues", packageCategory.CompletedIssues, new ViewDataDictionary(this.ViewData) { { "emptyMessage", "No issues for this package were released" } })
                }
            </div>
        }
    </div> 
    <h3>People we have to thank!</h3>
    <p class="text-center" style="padding: 20px 0 10px">A big thank you to all that have submitted Issues and contributed to our codebase. We value all contributions!</p>
    <div class="row">
        <div class="col-md-5">
            <h4>Thank you for reporting Issues:</h4>
            @foreach (var reporter in Model.IssueReporters) {
                <a href="@reporter.HtmlUrl" data-toggle="tooltip" title="@reporter.Login" id="@(reporter.Login)Avatar"><img width="40" src="@reporter.AvatarUrl" alt="@reporter.Login" /></a>
            }
        </div>
        <div class="col-md-7">
            <h4>Thank you for contributing Pull Requests:</h4>
            <table class="table table-condensed">
                <tr>
                    <th>Contributor</th>
                    <th>Details</th>
                </tr>
                @foreach (var reporter in Model.PullRequestContributors) {
                    <tr>
                        <td>
                            <a href="@reporter.Item1.HtmlUrl" title="@reporter.Item1.Login" id="@(reporter.Item1.Login)Avatar"><img width="40" src="@reporter.Item1.AvatarUrl" alt="@reporter.Item1.Login" /> @reporter.Item1.Login</a>
                        </td>
                        <td>
                            @foreach (var pullRequest in reporter.Item2) {
                                <a href="@pullRequest.IssueLinkUrl">#@pullRequest.Number</a> @(pullRequest.Title) <br />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>