@{
    ViewBag.Title = "Glimpse - the open source diagnostics platform of the web";
}

<div class="call-action">
    <div class="content-inner">
        <div class="content-command">PM> Install-Package Glimpse</div>
        <div class="content-sub-message"><a href="http://nuget.org/packages/Glimpse">see Glimpse package on Nuget</a></div>
        <div class="stat-group stats-next">
            <dl class="stat">
                <dt class="stat__title"><div class="sprite sprite-action sprite-action-manager"></div></dt>
                <dt class="stat__title delta">1) &nbsp; Package Manager</dt>
                <dd class="stat__value">Open up the NuGet Package Manager Console inside visual studio.
                </dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title"><div class="sprite sprite-action sprite-action-find"></div></dt>
                <dt class="stat__title delta">2) &nbsp; Find Glimpse</dt>
                <dd class="stat__value">Type or paste the command above, then hit enter.
                </dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title"><div class="sprite sprite-action sprite-action-running"></div></dt>
                <dt class="stat__title delta">3) &nbsp; Get Running</dt>
                <dd class="stat__value">Start your project and go to http://yourproject/glimpse.axd and click start.
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="body-inner">
    <section class="g one-whole stats-root-menu">
        <div class="stat-group">
            <dl class="stat">
                <dt class="stat__title gamma">Community</dt>
                <dd class="stat__value"><a href="@Url.Action(MVC.Community.Index())" class="sprite sprite-root sprite-root-community"></a></dd>
                <dd class="stat__value hide--palm">who's involved &amp; how you can help</dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title gamma">Documentation</dt>
                <dd class="stat__value"><a href="/Help/" class="sprite sprite-root sprite-root-documentation"></a></dd>
                <dd class="stat__value hide--palm">how to get started &amp; all the details</dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title gamma">Extensions</dt>
                <dd class="stat__value"><a href="@Url.Action(MVC.Packages.Index())" class="sprite sprite-root sprite-root-plugins"></a></dd>
                <dd class="stat__value hide--palm">what else exists in the ecosystem</dd>
            </dl>
            <dl class="stat">
                <dt class="stat__title gamma">Support</dt>
                <dd class="stat__value"><a href="@Url.Action(MVC.Support.Index())" class="sprite sprite-root sprite-root-support"></a></dd>
                <dd class="stat__value hide--palm">need some help or found an issue for us?</dd>
            </dl>
        </div>
    </section>
    <section>
        <div class="g image-highlight one-whole">
            <div class="hover-point-container">
                <img src="~/Content/_v1/site-console-execution.png" />
                <div class="hover-point" style="top: 3%; left: 40%;"></div>
                <div class="hover-text" style="top: 25px; left: 275px; width:300px">All the tabs below describe the activity for your current request.</div>
                <div class="hover-point" style="top: 3%; right: 10%;"></div>
                <div class="hover-text" style="top: 25px; right: 10px; width:250px">At any time you can open or close Glimpse.</div>
                <div class="hover-point" style="top: 11%; right: 6%;"></div>
                <div class="hover-text" style="top: 49px; right: 10px; width:300px">Ajax &amp; History allow you to switch Glimpse to focus on other requests.</div>
                <div class="hover-point" style="top: 11%; left: 9%;"></div>
                <div class="hover-text" style="top: 49px; left: 0; width:350px">Depending on what packages you install Glimpse will show give you different tabs.</div>
                <div class="hover-point" style="top: 57%; left: 38%;"></div>
                <div class="hover-text" style="top: 175px; left: 260px; width:300px">At any time you can select a tab of interest to see more details.</div>
            </div>
            <div class="call-action-trigger button">Try it for yourself</div>
        </div>     
        <div class="g one-half palm-one-whole">
            <h2>What It Does</h2> 
            <p>Glimpse gathers and presents detailed diagnostic information about the behavior and execution of your web application.</p>
            <p>It is used in a similar manner to client side diagnostics and debugging tools (such as <a href="https://getfirebug.com/">FireBug</a> or <a href="https://developers.google.com/chrome-developer-tools/docs/overview">Chrome Developer Tools</a>), but instead focuses on concepts such as server configuration, model binding, url routing, and execution profiling.</p>
        </div>  
        <div class="g one-half palm-one-whole">
            <h2>Where it fits</h2>
            <p>Too often, the tools we are provided with only show us a part of the picture, leaving us to simply guess what might be happening behind the scenes.</p>
            <p>Glimpse is an Open Source platform that aims to change the way we think about diagnostics and the frameworks we interact with. After releasing Glimpse at Mix11, Glimpse has become a tool that is used daily by tens of thousands of developers around the world.</p>
        </div> 
        <div class="g image-highlight one-whole">
            <img src="~/Content/_v1/site-console-zoom.png"/> 
            <div class="text--center">Glimpse sits right in your browser.</div>
        </div>     
        <div class="g one-half palm-one-whole">
            <h2>Getting Started</h2>
            <p>Installing Glimpse is incredibly easy. From within Visual Studio, open NuGet and search for "Glimpse". For ASP.NET WebForms applications, install <code>Glimpse.AspNet</code> and for ASP.NET MVC applications install <code>Glimpse.Mvc3</code>.</p>
            <p>When you're ready to start using Glimpse, simply browse to <code>http://your-application-url/Glimpse.axd</code> and click "Turn Glimpse On". From then on the Glimpse icon will appear in the bottom right corner of pages within your application, click the icon to see your glorious diagnostics.</p>
        </div>     
        <div class="g one-half palm-one-whole">
            <h2>Free &amp; Open Source</h2>
            <p>From the start, Glimpse has been Open Source and accepting contributions from the <a href="@Url.Action(MVC.Community.Index())">community</a>. Glimpse has only been made possible by these contributions and community involvement - thanks to everyone who has made this possible.</p>
            <p>All this means that Glimpse is Free and you can download and modify the code as you like (we are <a href="http://opensource.org/licenses/apache2.0">Apache License 2.0</a>). If you want to get involved or contribute in any way, feel free to reach and get involved - we can help you get started!</p>
        </div>
    </section>

    <section>
        <div class="g one-whole palm-one-whole">
            <div class="stat-group stats-next">
                <dl class="stat">
                    <dt class="stat__title delta">Talk &amp; Videos</dt>
                    <dd class="stat__value">What are people saying about Glimpse, Feel free to <a href="@Url.Action(MVC.Talk.Index())">take a look</a>.
                    </dd>
                </dl>
                <dl class="stat">
                    <dt class="stat__title delta">Source Code</dt>
                    <dd class="stat__value">All of our source code is freely available anytime on <a href="https://github.com/glimpse/glimpse">GitHub</a>.
                    </dd>
                </dl>
                <dl class="stat">
                    <dt class="stat__title delta">Glimpse protocol</dt>
                    <dd class="stat__value">Learn more about what makes Glimpse possible and <a href="@Url.Action(MVC.Protocol.Index())">how plugins get their structure</a>?
                    </dd>
                </dl>
            </div>
        </div>
        <div class="g one-whole palm-one-whole">
            <div class="stat-group stats-support">
                <dl class="stat">
                    <dt class="stat__title delta">Issues or Suggestions</dt>
                    <dd class="stat__value">If you have found an issue or have a idea, let us know on our <a href="https://github.com/glimpse/glimpse/issues" target="_blank">issues list</a>.
                    </dd>
                </dl>
                <dl class="stat">
                    <dt class="stat__title delta">Developer List</dt>
                    <dd class="stat__value">Get answers to questions &amp; find out what is next for Glimpse on our <a href="https://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev" target="_blank">user group</a>.
                    </dd>
                </dl>
                <dl class="stat">
                    <dt class="stat__title delta">Twitter</dt>
                    <dd class="stat__value">Feel free to get in touch with the us on Twitter: <a href="http://www.twitter.com/anthony_vdh" target="_blank">@@anthony_vdh</a> or <a href="http://www.twitter.com/nikmd23" target="_blank">@@nikmd23</a>.
                    </dd>
                </dl>
            </div>
        </div>
    </section>
</div>