@model Glimpse.Package.ReleaseQueryInfo
@{
    ViewBag.Title = "Update Check";
    Layout = "~/Views/Shared/_Simple.cshtml";
    ViewBag.pageCss = "/Content/_v2/website-assets/css/firstRun.css";  
}

@section header {
        <h1>Glimpse update status</h1>
        <p>all the different packages you have installed</p>
}


@foreach (var detail in Model.Details)
{
    var image = string.IsNullOrEmpty(detail.Value.PackageIconUrl) ? "/Content/_v2/img/logo-nuget.png" : detail.Value.PackageIconUrl;
    var updated = detail.Value.HasResult && !detail.Value.HasNewer ? "latest" : (detail.Value.HasResult ? "old" : "not-found"); //latest = updated, old = still on old version, not-found = no package avail.
            
    <div class="release-package @updated" style="margin-bottom:30px;">
        <h3 class="release-package-title"><img height="64" style="float:left; padding-right:10px;" src="@image" onerror="this.src = '/Content/_v2/logo-nuget.png';"/>@detail.Key<span class="status-img">&nbsp;</span></h3>  
        
        <div class="release-package-details">
            <div class="release-package-message">
                @if(@updated == "latest" || @updated == "old") {
                    var latest = @updated == "old" ? @detail.Value.Summary[detail.Value.Channel].LatestVersion : @detail.Value.Version;
                    <span class="release-installed-version">Installed version: <strong>@detail.Value.Version</strong></span>
        <span class="release-latest-version">Latest version: <strong>@latest</strong></span>
                    <div class="release-installed-details">
                        <h3 style="clear:both;">Release Notes</h3>
                        @if (detail.Value.AvailableReleases != null) 
                                {
                                    <div class="release-item-detail-holder">
                                        @foreach (var release in detail.Value.AvailableReleases)
                                        {
                                            <div class="release-item-detail">
                                                <div class="release-item-detail-header" style="font-weight:bold;">
                                                    <span class="release-item-detail-title">@release.Key</span>
                                                    <span class="release-item-detail-date">@release.Value.Created.ToString("dd MMM yyyy")</span> 
                                                </div>
                                                <div class="release-item-detail-notes" style="margin-left:20px; margin-bottom:20px;">
                                                    @if (!string.IsNullOrEmpty(@release.Value.ReleaseNotes)) { @Html.HtmlEncode(release.Value.ReleaseNotes, true) } 
                                                    else { <i>No notes avaiable for this release.</i> }
                                                </div>
                                            </div>
                                        }  
                                    </div> 
                                }
                    </div>
                    <div class="release-item-detail-notes">
                        @if (!string.IsNullOrEmpty(@detail.Value.Release.ReleaseNotes)) { @detail.Value.Release.ReleaseNotes } 
                        else { <i>No notes avaiable for this release.</i> }
                    </div>
                }
                        
            </div>@*end:.release-package-message*@
        </div>@*end:release-package-details*@
    </div>@*end:release-package @updated*@
}


@*
<section>

        @foreach(var detail in Model.Details)
        {
            var image = string.IsNullOrEmpty(detail.Value.PackageIconUrl) ? "/Content/_v1/site-nuget-logo.png" : detail.Value.PackageIconUrl;
            <div class="release-package">
                <div class="release-package-title">
                    <img src="@image" height="50" onerror="this.src = '/Content/_v1/site-nuget-logo.png';"/>
                    <h3>@detail.Key</h3>  
                </div>
        
                @if (detail.Value.HasResult) 
                {
                    <div class="release-package-details">
                        @if (detail.Value.HasNewer) {
                            <text>
                                <div class="release-package-message release-package-old-found">
                                    <div class="release-package-message-title">Sorry, it looks like you are currently out of date</div>
                                    <span class="release-installed-version">Installed version: <strong>@detail.Value.Version</strong></span>
                                    <span class="release-latest-version">Latest version: <strong>@detail.Value.Summary[detail.Value.Channel].LatestVersion</strong></span>
                                </div>
                        
                                @if (detail.Value.AvailableReleases != null) 
                                {
                                    <div class="release-item-detail-holder">
                                        @foreach (var release in detail.Value.AvailableReleases)
                                        {
                                            <div class="release-item-detail">
                                                <div class="release-item-detail-header">
                                                    <span class="release-item-detail-title">@release.Key</span>
                                                    <span class="release-item-detail-date">@release.Value.Created.ToString("dd MMM yyyy")</span> 
                                                </div>
                                                <div class="release-item-detail-notes">
                                                    @if (!string.IsNullOrEmpty(@release.Value.ReleaseNotes)) { @Html.HtmlEncode(release.Value.ReleaseNotes, true) } 
                                                    else { <i>No notes avaiable for this release.</i> }
                                                </div>
                                            </div>
                                        }  
                                    </div> 
                                }
                            </text>
                        }
                        else {
                            <div class="release-package-message release-package-latest-found">
                                <div class="release-package-message-title">Congratulations, you are up to date</div>
                                <span class="release-installed-version">Installed version: <strong>@detail.Value.Version</strong></span>
                                <span class="release-latest-version">Latest version: <strong>@detail.Value.Version</strong></span> 
                            </div>
                        }
                    </div>
                } 
                else {
                    <div class="release-package-message release-package-not-found">No release was found for this package.</div>
                }
            </div>
        }
    </div>
</section>
*@
<dl class="threeColumn column1">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/ideas.png" alt="Issues or Suggestions" /></dt>
    <dd>If you have found an issue or have a idea, let us know on our <a href="https://github.com/glimpse/glimpse/issues" target="_blank">issues list</a>.
    </dd>
    </div>
</dl>
<dl class="threeColumn column2">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/google.png" alt="developer list" /></dt>
    <dd>Get answers to questions and find out what is next for Glimpse on our <a href="https://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev" target="_blank">community user group</a>.
    </dd>
    </div>
</dl>
<dl class="threeColumn column3">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/twitter.png" alt="twitter contacts" /></dt>
    <dd>Feel free to get in touch with the us on Twitter: <a href="http://www.twitter.com/anthony_vdh" target="_blank">@@anthony_vdh</a> or <a href="http://www.twitter.com/nikmd23" target="_blank">@@nikmd23</a>.
    </dd>
    </div>
</dl>