@model Glimpse.Package.ReleaseQueryInfo
@{
    ViewBag.Title = "Update Check";
    Layout = "~/Views/Shared/_Simple.cshtml";
    ViewBag.pageCss = "/Content/_v2/website-assets/css/firstRun.css";  
}

@section header {
        <h1>Glimpse update status</h1>
        <p>Some of the packages you have installed have changed! To get the low down on the specifics take a look below. </p>
}


@foreach (var detail in Model.Details)
{
    var image = string.IsNullOrEmpty(detail.Value.PackageIconUrl) ? "/Content/_v2/img/logo-nuget.png" : detail.Value.PackageIconUrl;
    var updated = detail.Value.HasResult && !detail.Value.HasNewer ? "good" : (detail.Value.HasResult ? "bad" : "bad"); //latest = updated, old = still on old version, not-found = no package avail.
    <div class="package @updated">
        <div class="side-status @updated"></div>
        <div class="package-icon"><img height="54" src="@image" onerror="this.src = '/Content/_v2/logo-nuget.png';"/></div>
        <div class="package-details">
            <h3>@detail.Key</h3>
            <p class="package-status">Installed version:<span class="installed-version @updated">@detail.Value.Version</span> Latest version: @detail.Value.Summary[detail.Value.Channel].LatestVersion</p>
            @if (detail.Value.AvailableReleases != null) 
                                {
                                    <a href="#" class="notes-link">whats new</a>
                                    <div class="release-notes">
                                        @foreach (var release in detail.Value.AvailableReleases)
                                        {
                                            <div class="release-item-detail">
                                                <div class="release-item-detail-header">
                                                    <span class="release-item-detail-title">@release.Key</span>
                                                    <span class="release-item-detail-date">@release.Value.Created.ToString("dd MMM yyyy")</span> 
                                                </div>
                                                <div class="release-item-detail-notes">
                                                    @if (!string.IsNullOrEmpty(@release.Value.ReleaseNotes)) { @Html.HtmlEncode(release.Value.ReleaseNotes, true) } 
                                                    else { <i>No notes avaiable for this release.</i> }
                                                </div>
                                            </div>
                                        }  
                                    </div> 
                                }
            
        
        </div>
        <hr class="clearer" />
    </div>
  
}

@*
<section>

        @foreach(var detail in Model.Details)
        {
            var image = string.IsNullOrEmpty(detail.Value.PackageIconUrl) ? "/Content/_v1/site-nuget-logo.png" : detail.Value.PackageIconUrl;
            <div class="release-package">
                <div class="release-package-title">
                    <img src="@image" height="50" onerror="this.src = '/Content/_v1/site-nuget-logo.png';"/>
                    <h3>@detail.Key</h3>  
                </div>
        
                @if (detail.Value.HasResult) 
                {
                    <div class="release-package-details">
                        @if (detail.Value.HasNewer) {
                            <text>
                                <div class="release-package-message release-package-old-found">
                                    <div class="release-package-message-title">Sorry, it looks like you are currently out of date</div>
                                    <span class="release-installed-version">Installed version: <strong>@detail.Value.Version</strong></span>
                                    <span class="release-latest-version">Latest version: <strong>@detail.Value.Summary[detail.Value.Channel].LatestVersion</strong></span>
                                </div>
                        
                                @if (detail.Value.AvailableReleases != null) 
                                {
                                    <div class="release-item-detail-holder">
                                        @foreach (var release in detail.Value.AvailableReleases)
                                        {
                                            <div class="release-item-detail">
                                                <div class="release-item-detail-header">
                                                    <span class="release-item-detail-title">@release.Key</span>
                                                    <span class="release-item-detail-date">@release.Value.Created.ToString("dd MMM yyyy")</span> 
                                                </div>
                                                <div class="release-item-detail-notes">
                                                    @if (!string.IsNullOrEmpty(@release.Value.ReleaseNotes)) { @Html.HtmlEncode(release.Value.ReleaseNotes, true) } 
                                                    else { <i>No notes avaiable for this release.</i> }
                                                </div>
                                            </div>
                                        }  
                                    </div> 
                                }
                            </text>
                        }
                        else {
                            <div class="release-package-message release-package-latest-found">
                                <div class="release-package-message-title">Congratulations, you are up to date</div>
                                <span class="release-installed-version">Installed version: <strong>@detail.Value.Version</strong></span>
                                <span class="release-latest-version">Latest version: <strong>@detail.Value.Version</strong></span> 
                            </div>
                        }
                    </div>
                } 
                else {
                    <div class="release-package-message release-package-not-found">No release was found for this package.</div>
                }
            </div>
        }
    </div>
</section>
*@
<dl class="threeColumn column1">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/ideas.png" alt="Issues or Suggestions" /></dt>
    <dd>If you have found an issue or have a idea, let us know on our <a href="https://github.com/glimpse/glimpse/issues" target="_blank">issues list</a>.
    </dd>
    </div>
</dl>
<dl class="threeColumn column2">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/google.png" alt="developer list" /></dt>
    <dd>Get answers to questions and find out what is next for Glimpse on our <a href="https://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev" target="_blank">community user group</a>.
    </dd>
    </div>
</dl>
<dl class="threeColumn column3">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/twitter.png" alt="twitter contacts" /></dt>
    <dd>Feel free to get in touch with the us on Twitter: <a href="http://www.twitter.com/anthony_vdh" target="_blank">@@anthony_vdh</a> or <a href="http://www.twitter.com/nikmd23" target="_blank">@@nikmd23</a>.
    </dd>
    </div>
</dl>