@model Glimpse.Package.ReleaseQueryInfo
@{
    ViewBag.Title = "Update Check";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

@section header {
    <section>
        <h1>Glimpse update status</h1>
        <div class="gamma">all the different packages you have installed</div>
    </section>
}

<section>
    <div class="g one-whole">
        <h2>Update Check</h2>
    </div>
    <div class="g two-thirds push--one-sixth">  
        <div class="release-summary">
            @{
                var releasSummaryTitle = "No Release Avaiable";
                var releasSummarySummary = "At the current time, it looks like you are fully up-to-date.";
                var releasSummaryTitleClass = "";
                if(Model.HasNewer) {
                    releasSummaryTitle = "New Release Avaiable";
                    releasSummarySummary = "The following is a summary of what you are currently missing out on.";
                    releasSummaryTitleClass = "is-success";
                }
            }
    
            <div class="release-summary-title @releasSummaryTitleClass">@releasSummaryTitle</div>
            <div class="release-summary-desc">@releasSummarySummary</div>   
        </div>

        @foreach(var detail in Model.Details)
        {
            var image = string.IsNullOrEmpty(detail.Value.PackageIconUrl) ? "/_Content/logo-nuget.png" : detail.Value.PackageIconUrl;
            <div class="release-package">
                <div class="release-package-title">
                    <img src="@image" height="50" onerror="this.src = '/_Content/logo-nuget.png';"/>
                    <h3>@detail.Key</h3>  
                </div>
        
                @if (detail.Value.HasResult) 
                {
                    <div class="release-package-details">
                        @if (detail.Value.HasNewer) {
                            <text>
                                <div class="release-package-message release-package-old-found">
                                    <div class="release-package-message-title">Sorry, it looks like you are currenly out of date</div>
                                    <span class="release-installed-version">Installed version: <strong>@detail.Value.Version</strong></span>
                                    <span class="release-latest-version">Latest version: <strong>@detail.Value.Summary[detail.Value.Channel].LatestVersion</strong></span>
                                </div>
                        
                                @if (detail.Value.AvailableReleases != null) 
                                {
                                    <div class="release-item-detail-holder">
                                        @foreach (var release in detail.Value.AvailableReleases)
                                        {
                                            <div class="release-item-detail">
                                                <div class="release-item-detail-header">
                                                    <span class="release-item-detail-title">@release.Key</span>
                                                    <span class="release-item-detail-date">@release.Value.Created.ToString("dd MMM yyyy")</span> 
                                                </div>
                                                <div class="release-item-detail-notes">
                                                    @if (!string.IsNullOrEmpty(@release.Value.ReleaseNotes)) { @release.Value.ReleaseNotes } 
                                                    else { <i>No notes avaiable for this release.</i> }
                                                </div>
                                            </div>
                                        }  
                                    </div> 
                                }
                            </text>
                        }
                        else {
                            <div class="release-package-message release-package-latest-found">
                                <div class="release-package-message-title">Congratulations, you are up to date</div>
                                <span class="release-installed-version">Installed version: <strong>@detail.Value.Version</strong></span>
                                <span class="release-latest-version">Latest version: <strong>@detail.Value.Version</strong></span> 
                            </div>
                        }
                    </div>
                } 
                else {
                    <div class="release-package-message release-package-not-found">No release was found for this package.</div>
                }
            </div>
        }
    </div>
</section>