@model Glimpse.Package.ReleaseQueryInfo
@{
    ViewBag.Title = "Readme - Glimpse"; 
}
 
<div class="jumbotron jumbotron-dark">
    <div class="container container-form-stay-update">
        <img src="/Content/logo-triple.png" class="logo-triple" />
        <h1><img src="/Content/updatetick.png" class="tick-update" />Thanks for updating Glimpse!</h1>
        <p>Thanks for updating your packages. To see what improvements have been made be sure to take a look below.</p>

        <form action="http://getglimpse.us7.list-manage.com/subscribe/post?u=1e0ad87b92a992ad5856dcac3&amp;id=e2c440d6cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-stay-update" target="_blank" novalidate>
            <label for="mce-EMAIL"><h2>Stay up-to-date!</h2></label>
            <table>
                <tr>
                    <td><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required></td>
                    <td><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></td>
                </tr>
            </table> 
        </form>
    </div>
</div>

<div class="container content content-normal">
    <h2>Release Notes</h2>
    <div>
        @foreach (var detail in Model.Details) {
            var image = string.IsNullOrEmpty(detail.Value.PackageIconUrl) ? "/Content/logo-nuget.png" : detail.Value.PackageIconUrl;
            var updated = detail.Value.HasResult && !detail.Value.HasNewer ? "good" : (detail.Value.HasResult ? "bad" : "bad"); //latest = updated, old = still on old version, not-found = no package avail.

            <div class="media package-status">
                <div class="pull-left">
                    <img height="54" src="@image" onerror="this.src = '/Content/logo-nuget.png';" />
                </div>
                <div class="media-body">
                    <h3 class="media-heading">@detail.Key</h3>
                    <div class="text-center">
                        @if (detail.Value.HasResult) {
                            <text>
                                <div class="lead">
                                    Installed version: <strong class="@updated">@detail.Value.Version</strong>
                                    Latest version: <strong>
                                        @if (detail.Value.HasNewer) {
                                            @detail.Value.Summary[detail.Value.Channel].LatestVersion
                                        }
                                        else {
                                            @detail.Value.Version
                                        }
                                    </strong>
                                </div>
                                @if (!detail.Value.HasNewer) {
                                    <p>Congratulations, you are up to date :D</p>
                                }
                                else {
                                    <p>
                                        <span class="@updated">Sorry, it looks like you are still currently <strong>out of date</strong> :(</span><br />
                                        No worries though, it's easy to fix!
                                    </p>
                                    <div style="margin:10px 0 35px;">
                                        <table align="center" width="80%">
                                            <tr>
                                                <td width="40%"><div class="code">PM&gt; Update-Package @detail.Key</div></td>
                                                <td width="10%">or</td>
                                                <td width="40%">Update via VS <a href="https://docs.nuget.org/docs/start-here/managing-nuget-packages-using-the-dialog">Package Management</a> window.</td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            </text>
                        }
                        else {
                            <em>Could not find release.</em>
                        }
                    </div>
                    
                    @if (detail.Value.AvailableReleases != null) {
                        <div class="release-notes">
                            <h4>This is what you just got!</h4>
                            @foreach (var release in detail.Value.RequestedReleases) { 
                                <div class="package-status-detail">
                                    <div>
                                        <strong>@release.Key</strong> -
                                        <em>@release.Value.Created.ToString("dd MMM yyyy")</em>
                                    </div>
                                    <p class="package-status-notes">
                                        @if (!string.IsNullOrEmpty(release.Value.ReleaseNotes)) {
                                            @Html.HtmlEncode(release.Value.ReleaseNotes, true)
                                        }
                                        else {
                                            <em>No notes available for this release.</em>
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    
    <h2>Reach Out</h2>
    <table width="100%">
        <tr valign="top">
            <td width="33%">
                <h3>Issue List</h3>
                <p>Have you found a bug or something misbehaving? Tell us about it on our <a href="https://github.com/glimpse/glimpse/issues">GitHub issue list</a> and someone will help you as soon as possible.</p>
            </td>
            <td width="34%" style="padding: 0 10px">
                <h3>Stack Overflow</h3>
                <p>Got general questions or just need a little support? Anything related to using, configuring or extending Glimpse can be asked at <a href="http://stackoverflow.com">StackOverflow</a>. View <a href="http://stackoverflow.com/questions/tagged/glimpse">already answered</a> questions for even faster support.</p>
            </td>
            <td width="33%" style="padding: 0 10px">
                <h3>Mailing List</h3>
                <p>Got questions about how to extend or work on Glimpse, or just want to discuss a new feature idea? Shoot it through to the <a href="https://groups.google.com/forum/#!forum/getglimpse-dev">developers mailing list</a>.</p>
            </td>
        </tr>
    </table>
</div>