@model Glimpse.Package.ReleaseQueryInfo
@{
    ViewBag.Title = "Glimpse - Readme";
    ViewBag.pageCss = "/Content/_v2/website-assets/css/firstRun.css";
}

@section header {
<h1><img src="/Content/_v2/img/updatetick.png" alt="tick" id="updateTick" />You're up to date!</h1>
<p>
    Thanks for updating your packages. To see what improvements have been made be sure to take a look below. 

</p>
}
     
@foreach (var detail in Model.Details)
{
    var image = string.IsNullOrEmpty(detail.Value.PackageIconUrl) ? "/Content/_v2/img/logo-nuget.png" : detail.Value.PackageIconUrl;
    var updated = detail.Value.HasResult && !detail.Value.HasNewer ? "good" : (detail.Value.HasResult ? "bad" : "bad"); //latest = updated, old = still on old version, not-found = no package avail.
    <div class="package @updated">
        <div class="side-status @updated"></div>
        <div class="package-icon"><img height="54" src="@image" onerror="this.src = '/Content/_v2/logo-nuget.png';"/></div>
        <div class="package-details">
            <h3>@detail.Key</h3>
            <p class="package-status">Installed version:<span class="installed-version @updated">@detail.Value.Version</span> Latest version: @detail.Value.Summary[detail.Value.Channel].LatestVersion</p>
            @if (detail.Value.AvailableReleases != null) 
                                {
                                    <a href="#" class="notes-link">whats new</a>
                                    <div class="release-notes">
                                        @foreach (var release in detail.Value.AvailableReleases)
                                        {
                                            <div class="release-item-detail">
                                                <div class="release-item-detail-header">
                                                    <span class="release-item-detail-title">@release.Key</span>
                                                    <span class="release-item-detail-date">@release.Value.Created.ToString("dd MMM yyyy")</span> 
                                                </div>
                                                <div class="release-item-detail-notes">
                                                    @if (!string.IsNullOrEmpty(@release.Value.ReleaseNotes)) { @Html.HtmlEncode(release.Value.ReleaseNotes, true) } 
                                                    else { <i>No notes avaiable for this release.</i> }
                                                </div>
                                            </div>
                                        }  
                                    </div> 
                                }
            
        
        </div>
        <hr class="clearer" />
    </div>
  
}
     

<dl class="threeColumn column1">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/ideas.png" alt="Issues or Suggestions" /></dt>
    <dd>If you have found an issue or have a idea, let us know on our <a href="https://github.com/glimpse/glimpse/issues" target="_blank">issues list</a>.
    </dd>
    </div>
</dl>
<dl class="threeColumn column2">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/google.png" alt="developer list" /></dt>
    <dd>Get answers to questions and find out what is next for Glimpse on our <a href="https://groups.google.com/forum/?fromgroups#!forum/getglimpse-dev" target="_blank">community user group</a>.
    </dd>
    </div>
</dl>
<dl class="threeColumn column3">
    <div class="innerColumn">
    <dt><img src="~/Content/_v2/img/twitter.png" alt="twitter contacts" /></dt>
    <dd>Feel free to get in touch with the us on Twitter: <a href="http://www.twitter.com/anthony_vdh" target="_blank">@@anthony_vdh</a> or <a href="http://www.twitter.com/nikmd23" target="_blank">@@nikmd23</a>.
    </dd>
    </div>
</dl>